<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-12">
      <div class="row bg-white h-100">
        <div class="col-md-4 bg-light border-right p-3">
          <div class="form-group">
            <label for="foplInput">First order predicate logic</label>
            <textarea class="form-control" id="foplInput" rows="3"></textarea>
          </div>
        </div>

        <div class="col-md-8 p-0">
          <div class="graph h-100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
