<div class="container">
  <div class="row">
    <h1>Knowledge representation and reasoning</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row shadow-sm bg-white rounded border">
        <div class="col-md-4 bg-light rounded-left border-right p-3" style="height:600px;">
          <div class="form-group">
            <label for="foplInput">First order predicate logic</label>
            <textarea class="form-control" id="foplInput" rows="3"></textarea>
          </div>
          <hr/>
        </div>

        <div class="col-md-8 p-0 rounded-left">
          <div class="graph rounded-left"></div>
        </div>
      </div>
    </div>
  </div>
</div>
